<h1>Demo#index</h1>
<p>Find me in app/views/demo/index.html.erb</p>

<% link_to('Hello Page', {:action => 'hello'}) %><br>


<% link_to('Hello Params', {:action => 'hello', :id => 20, :page => 5, }) %><br>

<%= link_to('Roar', '#', :onclick => "jsRoar('JavaScript'); return true;") %>