<%= link_to("<< Back", subjects_path, :class => 'back-link') %>

<div class="subjects delete">
    <h2>Delete Subject</h2>

    <%= form_for(@subject, :method => 'delete') do |f| %>
    <p>Are you sure? This subject will be permanently deleted.</p>

    <p class="reference-name"><%= f.object.name %></p>

    <div class="form-buttons">
        <%= f.submit("Delete Subject") %>
    </div>

    <% end %>
</div>