<div class="subjects index">
    <h2>Subject</h2>

    <%= link_to("Add New Subject", '#', :class => 'action new') %>

    <table class="listing" summary="Subject List">
    <tr class="header">
        <th>#</th>
        <th>Subjects</th>
        <th>Visible</th>
        <th>Pages</th>
        <th>Actions</th>
    </tr>
    